body {
    background-image:url('https://wi-images.condecdn.net/image/B1NZW376pxM/crop/1620/f/space_11.jpg')
}
.logo-size {
    height:50px;
    width:120px
}
.fontStyle {
    color:white;
}
.cardFontStyle {
    color: black;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.sideCol{
    background-color: rgba(0, 150, 0, 0.3);
}